@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
  --preto:  #292f36ff;
  --ciano:  #4ecdc4ff;
  --branco:  #ffffffff;
  --rosa:  #ff6b6bff;
  --texto: "IBM Plex Serif", serif;
  --titulo:"Ubuntu", sans-serif;
}

body{
background-color: var(--ciano);
font-family: var(--texto);
}
header{
  background-color: var(--preto) ;
  color: var(--branco);
}